<header class="nav-bar">
    <div class="nav-content">
        <!-- Logo and title -->
        <a href="{{ '/' | relative_url }}">
            <img class="nav-content nav-logo" src="./assets/img/logo.svg" />
        </a>
        

        <!-- Toggle menu -->
        <nav class="clear">
            <ul id="menu" class="hide">
                <li class="separator"><button onclick="myFunction()"> dark mode</button></li>
                <li><a title="Learn More" href="https://fellowship.mlh.io">Learn More about the MLH Fellowship</a></li>
            </ul>
        </nav>
    </div>
</header>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: rgba(13,11,41,1);
  color: white;
}
</style>

<body>
    <div class="wrapper">
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        </div>    
</body>
<footer>
    </footer>
