
:root {
  --accent: #F8BA29;
}
.fc-content {
  background-color: #5c47ff;
  color: #ffffff;
}
  body {
	background: rgb(148,171,238);
background: linear-gradient(60deg, rgba(148,171,238,1) 7%, rgba(98,132,184,1) 21%, rgba(46,211,201,1) 38%, rgba(146,224,101,1) 56%, rgba(232,199,92,1) 74%, rgba(224,238,222,1) 93%);
	background-size: 400% 400%;
	animation: gradient 50s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.fc-left {
    display: none;
}

.fc-header-toolbar {
    display: none !important;
}

.fc-button-primary {
    background-color: var(--accent) !important;
    border-color: blue !important;
}

.fc-event-dot {
    background-color: var(--accent) !important;
}

.fc-event {
  background-color: var(--accent);
}

#event-title {
    color: black;
    font-family: "Poppins";
}

#calendar-error {
  text-align: center;
}

#event-modal h4, #event-modal p {
  font-family: unset !important;
}

#event-button {
    width: 100%;
    color: white;
    background-color: var(--accent);
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px;
}

#timezone {
  font-family: "Poppins";
  margin: 1em;
}

.modal-title {
    margin: 0.5em;
}

.modal-subheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal-body {
    margin: 0.7em;
}

#event-desc {
    margin: 0.2em !important;
    padding: 1rem 0px;
}

.line {
    margin-left: 0.3em !important;
    margin-right: 0.3em !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    box-shadow: none !important; 
}

.material-icons {
  font-size: 26px;
  position: relative;
  top: 0.2em;
  padding-right: 0.2em;
  color: black;
}

.page h1, .page p, .page h2 {
    color: black !important;
}

@media only screen and (max-width : 900px) {
   #calendar {
     width: 100vw;
     margin-left: calc(-50vw + 50%);
   }
}
